@import url('//at.alicdn.com/t/c/font_4808667_pken80nlvt.css');

@font-face {
    font-family: "AlibabaPuHuiTi";
    src: url("@/assets/font/AlibabaPuHuiTi-3-55-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "AlibabaPuHuiTi";
    box-sizing: border-box;
}

a {
    display: inline-block;
    outline: none;
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
    border: none;
}

body {
    /* color: var(--white); */
    overflow: hidden;



    --red: #ff0600;
    --red1: #ed4b46;
    --grey: #8c8c8c;
    --black: #232323;
    --hover: black;
    --white: #ffffff;
    --trans: transparent;

}

::-moz-selection {
    background-color: var(--red);
    color: var(--white);
}

::selection {
    background-color: var(--red);
    color: var(--white);
}

.flex {
    display: flex;
    align-items: center;
}

.center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.nose {
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;

}


.scrollBar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollBar::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 3px;
}

.scrollBar::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 3px;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}

.scrollBar::-webkit-scrollbar-thumb:active {
    background-color: #787878;
}


/* 对移动中的元素应用的过渡 */
.drag-list-enter-active,
.drag-list-leave-active {}

.drag-list-move {
    transition: all .23s ease;

}

.drag-list-enter-from,
.drag-list-leave-to {
    opacity: 0;
}

* {
    --el-font-size-base: 17px !important;
}

.el-input--large {
    font-size: 17px !important;
}